<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.dashboard.mapper.DailyMapper">

    <insert id="saveAll">
        INSERT INTO daily (code, "date", "open", high, "close", low, trading_volume, trading_value, change_price, change_percent, pre_close, ts_code)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.code},#{item.date},#{item.open},#{item.high},#{item.close},#{item.low},#{item.tradingVolume},#{item.tradingValue},#{item.changePrice},#{item.changePercent},#{item.preClose},#{item.tsCode})
        </foreach>
        ON conflict(code, "date") DO NOTHING
    </insert>

    <update id="updateTurnover">
        UPDATE daily
        SET turnover = CASE "date"
        <foreach collection="list" item="item" separator="">
            WHEN #{item.date} THEN #{item.turnover}
        </foreach>
        END
        WHERE code = #{code}
    </update>


    <select id="analyseTurnover" resultType="com.zero.dashboard.entity.TurnoverBaseResult">
        <![CDATA[
        select
            code,
            date,
            turnover,
            case
            when turnover <= 3 then '冷清'
            when turnover > 3 and turnover <= 7 then '相对活跃'
            when turnover > 7 and turnover <= 10 then '高度活跃'
            when turnover > 10 and turnover <= 15 then '非常活跃'
            when turnover > 15 and turnover <= 25 then '极度活跃'
            when turnover > 25 then '走势异常强势'
        end as status,
        case
            when turnover <= 3 then '不关注'
            when turnover > 3 and turnover <= 7 then '适当关注'
            when turnover > 7 and turnover <= 10 then '高度关注'
            when turnover > 10 and turnover <= 15 then '重点关注'
            when turnover > 15 and turnover <= 25 then '极度关注'
            when turnover > 25 then '上涨的高点不远'
            end as focus,
        case
            when turnover <= 3 then '散户资金'
            when turnover > 3 and turnover <= 7 then '试探介入'
            when turnover > 7 and turnover <= 10 then '大举介入'
            when turnover > 10 and turnover <= 15 then '深度介入'
            when turnover > 15 and turnover <= 25 then '全线介入'
            when turnover > 25 then '不能强势上涨的'
            end as intervene,
        case
            when turnover <= 3 then '观望'
            when turnover > 3 and turnover <= 7 then '原则观望'
            when turnover > 7 and turnover <= 10 then '考虑买入或卖出'
            when turnover > 10 and turnover <= 15 then '大举买入或卖出'
            when turnover > 15 and turnover <= 25 then '短线进入或中线清仓'
            when turnover > 25 then '清仓走人'
            end as operate_strategy,
        case
            when turnover <= 3 then '无方向'
            when turnover > 3 and turnover <= 7 then '小幅上落'
            when turnover > 7 and turnover <= 10 then '稳步上升或回落'
            when turnover > 10 and turnover <= 15 then '大幅上升或回落'
            when turnover > 15 and turnover <= 25 then '有可能暴跌'
            when turnover > 25 then '大跌在即'
            end as trend
    from
        daily d
    where
        code = #{code}
    ]]>
        <if test="date !=null">
            and date > #{date}
        </if>
        and turnover is not null
    </select>

    <select id="analyseVolumeRatio" resultType="com.zero.dashboard.entity.VolumeRatioBaseResult">
        <![CDATA[
        with base as (
            select * from (
                              select a.code,a.date as pre_date, a.trading_volume,b.date as cur_date from (select ROW_NUMBER() OVER (ORDER BY "date"  ASC) AS rownum,* from daily where code = #{code} and date >= case when #{date} is null then to_date('1970-01-01', 'yyyy-mm-dd')  else #{date}  end) as a
                                                                                                             right join (select ROW_NUMBER() OVER (ORDER BY "date"  ASC) AS rownum,* from daily d where code = #{code} and date >= case when #{date} is null then to_date('1970-01-01', 'yyyy-mm-dd')  else #{date}  end) b on  a.rownum between b.rownum - 5 and b.rownum - 1
                          ) as t where pre_date is not null order by cur_date
        ),
             base_avg as (
                 select code, cur_date, avg(trading_volume)  from base group by code, cur_date
             ),
             volume_ratio as (
                 select code,date,trading_volume, "avg", trading_volume / "avg" as volume_ratio from (
            select a.*, b.avg from (select * from daily where code = #{code} and date >= case when #{date} is null then to_date('1970-01-01', 'yyyy-mm-dd')  else #{date}  end) as a
            left join base_avg b on a.code = b.code and a.date = b.cur_date
            ) as t where "avg" is not null
            )

        select
            *,
            case
                when volume_ratio <= 0.3 then '极低'
                when volume_ratio > 0.3 and volume_ratio <= 0.8 then '偏低'
                when volume_ratio > 0.8 and volume_ratio <= 1.5 then '正常水平'
                when volume_ratio > 1.5 and volume_ratio <= 2.5 then '温和放量'
                when volume_ratio > 2.5 and volume_ratio <= 5 then '明显放量'
                when volume_ratio > 5 and volume_ratio <= 10 then '剧烈放量'
                when volume_ratio > 10 then '极高'
                end as status,
            case
                when volume_ratio <= 0.3 then '极端情况,通常都将会有一些不同寻常的情况发生。'
                when volume_ratio > 0.3 and volume_ratio <= 0.8 then '无'
                when volume_ratio > 0.8 and volume_ratio <= 1.5 then '无'
                when volume_ratio > 1.5 and volume_ratio <= 2.5 then '如果股价也处于温和的缓升状态，则升势相对健康；若股价下跌，则可认定跌势难以在短期内结束，从量的方面判断应考虑止损出局。'
                when volume_ratio > 2.5 and volume_ratio <= 5 then '若股价相应地突破重要支撑或阻力位置，则有效突破的几率增高，可以相应地采取行动。'
                when volume_ratio > 5 and volume_ratio <= 10 then '如果个股是于长期低位所出现的剧烈放量，则突破后潜力巨大；相反，是在经拉升过的高位后出现这种情况，则大事不妙，极可能是主力出逃。'
                when volume_ratio > 10 then '极端情况,通常都将会有一些不同寻常的情况发生。'
                end as "desc"
        from volume_ratio
        ]]>
    </select>



</mapper>
